{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        },
        "modules": false
      }
    ],
    "stage-1"
  ],
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ]
      ],
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}